.text{
    /* width: 40%;
    height: 40%; */
    margin: auto;
    /* padding: 10px; */
    background-color: rgb(182, 15, 197);
    /* opacity:0.4 ; */
    margin-top:10% ;
    color:rgb(173, 159, 152);
    border-radius:10px ;
    box-shadow:10px 2px 10px 0 rgba(243, 214, 243, 0.9); 
}
.text:hover{
transform:scale(1.1);
box-shadow:8px 2px 12px 0 rgba(230, 150, 230, 0.9); 
}
.aboutme{
  text-shadow:black 20px -24px 10px,rgb(2, 2, 2) 12px -10px 12px ;
  font-size: 4rem;
  color: rgb(220, 21, 238);
  margin: 20px;
}
.pic{
  width: 50%;
  margin: auto;
  padding: 10px;
  margin-top: 5%;
}
.pic:hover{
  transform: rotate(10deg);
}
.img1{
  height:350px;
  width: 350px;
  border-radius: 50%;
  box-shadow:10px 2px 10px 0 rgba(233, 99, 233, 0.9); 
}
.img2{
  height: 350px;
  width: 350px;
  border-radius:10%  30% 10% 30%;
  box-shadow:10px 2px 10px 0 rgba(233, 99, 233, 0.9); 
}
a{
  text-decoration: none;
  color: beige;

}
/* .text2{
  border:1px solid  rgba(233, 99, 233, 0.9);
  border-radius:10%  20% 10% 20%; ;
} */
.pavi{
  font-family: sans-serif;
  letter-spacing:10% ;
  cursor: pointer;
  text-shadow: 2px 3px 2px 3px  rgb(235, 93, 228,0.4);
  background-color:rgb(235, 93, 228);
 background-clip: text;
 animation: shine 2s infinite linear  ;
}
@keyframes shine{
  0%{
    background-position:0% ;
  }
  60%{
    background-position:600% ;
  }
100%{
  background-position:600% ;
}
}